// /* Making Website responsive  on all devices */
// // Small devices
@media  screen and (max-width:360px) {
   .site__img{
       width:100%;
   }
   .section{
    padding:3.5rem 0 1rem;
   }
   .services__img{
    width:100px;
   } 
   .history__button{
      grid-template-columns: max-content;
   }


}

/*  Medium devices */
@media screen  and (min-width:576px){
    .site__img{
        width:100%;
    }
    .section__title-center{
        text-align: initial;
    }
    .home__container,
    .about__container,
    .blog__container,
    .services__container,
    .history__container,
    .contact__container,
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }
    .home__img{
        order:-1;
    }
    .home__container,
    .about__container,
    .bolg__container,
    .history__container,
    .contain__container,
    .footer__container{
        align-items:center;
    }
    .about__data,
    .blog__data,
    .history__data,
    .services__data,
    .contact__description,
    .footer__data{
        text-align: initial;
    }
    .about__img,
    .history__img{
        order: -1;
    }
}
@media screen  and (min-width:767px){
    body{
        margin:0;
    }
    .section{
        padding:6rem 0 2rem;
    }
    .nav{
       height:calc(var(--header-height) + 1.5rem);
       
       &__list{
        flex-direction: row;
        column-gap: 2.5rem;
       }
       &__toggle{
        display: none;
       }
       
    }
    .change-theme{
        position: initial;
    }
    .home__container{
        padding: 6rem 0 2rem;
    }
    .history__button{
        justify-content: initial;
    }

    }
/* Responsive on large devices */
@media screen  and (min-width:968px){
    .button__header{
        display:block;
    }
    .services__img{
        width:450px;
    }
    .about__container,
    .blog__container{
        column-gap: 6rem;
    }
   .contact__container{
    grid-template-columns:3fr 1.5fr 1.25fr;
   }
   .footer{
    &__container{
        grid-template-columns: repeat(6,1fr);
    }
    &__social-icons{
        align-items:flex-start ;

        &__link{
        font-size:1.45rem;

        }
    }
   }
}
@media screen  and (min-width:1024px){
    .container{
        margin-left:auto;
        margin-right:auto;
    }
    .home{
        &__img{
            width:548px
        }
        &__description{
            padding:6rem;
        }
    }
    .footer__container{
        column-gap: 4rem;
    }
    .scrollup{
        right:2rem;
    }
}